@import "index_style.css";
html{
    background: linear-gradient(to bottom left, #33cc33, gold);
}
header{
    margin-bottom: 0;
}
section{
    padding-left: 0;
}
.title{
    display: flex;
    justify-content: space-between;
    font-weight: lighter;
    padding-left: 0;
}

.title h1{
    padding-left: 50px;
    margin: 50px 0 50px 0;
    color: white;
    font-size: 250px;
    display: inline-block;
}

.title h2 {
    display: inline-block;
    margin: auto 150px;
    color: white;
    font-size: 30px;
    line-height: 50px;
}

hr{
    border: 1px solid white;
}

.left{
    color: white;
    font-family: Roboto,sans-serif;
    display: flex;
    justify-content: space-around;
    margin: 25px 100px;
}
.left h3{
    font-size: 50px;
    font-weight: lighter;
}
.left ul{
    font-size: 30px;
}
.right{
    color: white;
    font-family: Roboto,sans-serif;
    display: flex;
    justify-content: space-around;
    margin: 25px 100px;
}
.right h3{
    font-size: 50px;
    font-weight: lighter;
}
.right ul{
    font-size: 30px;
}

@media only screen
and (device-width : 375px)
and (device-height : 812px)
and (-webkit-device-pixel-ratio : 3) {
    .title {
        display: block;
    }

    .title h1 {
        margin: 25px;
        font-size: 80px;
    }

    .title h2 {
        font-size: 30px;
    }

    img {
        width: 100px;
        height: 100px;
    }

    .left {
        margin: 25px;
    }

    .left h3 {
        font-size: 30px;
    }

    .left ul {
        font-size: 20px;
    }

    .right {
        margin: 15px;
    }

    .right h3 {
        font-size: 30px;
    }

    .right ul {
        font-size: 20px;
    }
}
