@import "index_style.css";
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

html{
    background: linear-gradient(to bottom left, orange, forestgreen);

}
header {
    margin-bottom: 0;
}
section{
    display: block;
    padding-left: 0;
}
h1{
    text-align: center;
    padding: 70px;
    color: white;
    font-family: Roboto,sans-serif;
    font-size: 130px;
    font-weight: lighter;
}

.animated {
    animation-name: bounce;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

hr{
    border: 1px solid white;
}

.social-icons {
    margin: 50px;
    display: flex;
    justify-content: space-around;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 2.5rem;
    text-decoration: none;
    transition: all 0.15s ease;
}
.icon:hover {
    color: #fff;
}
.linkedin {
    background: #006599;
    color: white;
}
.linkedin:hover {
    background: white;
    color: #006599;
}

.twitter {
    background: #2b97f1;
    color: white;
}
.twitter:hover {
    background: white;
    color: #2b97f1;
}

.facebook {
    background: #3b5a9b;
    color: white
}
.facebook:hover {
    background: white;
    color: #3b5a9b;
}

.instagram {
    background: linear-gradient(to bottom left, purple,orange);
    color: white;
}
.instagram:hover {
    background: white;
    color: purple
}


.github {
    background: mediumturquoise;
    color: white;
}
.github:hover {
    color: mediumturquoise;
    background: white;
}
.piedpiper {
    background: forestgreen;
    color: white;
}
.piedpiper:hover {
    color: forestgreen;
    background: white;
}
.icon i {
    position: relative;
    top: 1px;
}

@media only screen
and (device-width : 375px)
and (device-height : 812px)
and (-webkit-device-pixel-ratio : 3){
    .animated{
        display: block;
    }
    .animated h1{
        margin: 25px;
        font-size: 80px;
    }
    .social-icons{
        flex-wrap:wrap;
        margin:0px 50px;
    }
}
