@import "index_style.css";
html{
    background: linear-gradient(to bottom left, deeppink, orange);
}
header{
    margin-bottom: 0;
}
section{
    padding-left: 0;
}
.title{
    display: flex;
}

.title h1{
    padding: 50px;
    color: white;
    font-size: 130px;
    font-weight: lighter;
    display: inline-block;
}

hr{
    border: 1px solid white;
}
.images{
    display: inline-grid;
    padding-top: 150px;
}

.images img {
    height: 200px;
    width: 200px;
    margin: 25px 150px;
}

.classes{
    color: white;
    font-family: Roboto,sans-serif;
}
.classes h3{
    font-size: 50px;
    padding-left: 50px;
    font-weight: lighter;
}
.classes ul{
    font-weight: lighter;
    font-size: 30px;
    padding-left: 150px;
}

hr{
    border: 1px solid white;
}

.extracurriculars{
    float: right;
    color: white;
    font-family: Roboto,sans-serif;
}
.extracurriculars h3{
    font-size: 50px;
    font-weight: lighter;
}
.extracurriculars ul{
    font-weight: lighter;
    font-size: 30px;
    line-height: 60px;
}

@media only screen
and (device-width : 375px)
and (device-height : 812px)
and (-webkit-device-pixel-ratio : 3){
    .title{
        display: block;
    }
    .title h1{
        margin: 25px;
        font-size: 80px;
    }
    .classes h3{
        padding-left: 10px;
        margin:25px;
        font-size: 30px;
    }
    .classes ul{
        font-size: 20px;
    }
    .images{
        padding-top: 5px;
        display: flex;
    }
    .images img{
        width:70px;
        height:70px;
        margin:10px;
    }
    .extracurriculars h3{
        font-size: 15px;
    }
    .extracurriculars ul{
        font-size: 10px;
        line-height: 10px;
    }
}
