@import "index_style.css";
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

html{
    background: linear-gradient(to bottom left, orange, blue);
}
section{
    padding-left: 0;
    display: block;
    font-size: 50px;
}
h1{
    text-align: center;
}
.fa{
    font-size: 40px;
}
.gallery{
    margin: 10px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
img {
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    height: 400px;
    filter: grayscale(100%);
    transition: .5s;
}
img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}
#modal.hidden {
     display: none;
 }

.no-scroll {
    overflow: hidden;
}
#modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    font-size: 100px;
    color: #ffffff;
    cursor: pointer;
}

.left {
    position: fixed;
    top: 50%;
    left: 50px;
}

.right {
    position: fixed;
    top: 50%;
    right: 50px;
}

@media only screen
and (device-width : 375px)
and (device-height : 812px)
and (-webkit-device-pixel-ratio : 3){
    .title{
        display: block;
    }
    .title h1{
        margin: 25px;
        font-size: 80px;
    }
    img{
        height:240px;
    }
}
