@import "index_style.css";
html{
    background: linear-gradient(to bottom left, blue, red);
}
header {
    margin-bottom: 0;
}
section{
    padding-left: 0;
    display: unset;
}
h3{
    font-weight: lighter;
    font-size: 50px;
    padding-left: 50px;
}
.title{
    display: flex;
}

.title h1{
    padding: 50px;
    color: white;
    font-family: Roboto,sans-serif;
    font-size: 130px;
    font-weight: lighter;
    display: inline-block;
}
hr{
    border: 1px solid white;
}
.images{
    display: flex;
    justify-content: space-around;
    margin: 25px 100px;
}
.text {
    color: white;
    font-family: Roboto, sans-serif;
}
.images img{
    width: 200px;
    height: 200px;
}
.images img{
    width: 200px;
    height: 200px;
}

@media only screen
and (device-width : 375px)
and (device-height : 812px)
and (-webkit-device-pixel-ratio : 3){
    .title{
        display: block;
    }
    .title h1{
        margin: 25px;
        font-size: 80px;
    }
    .images{
        padding-top: 5px;
        display: flex;
    }
    .text h3{
        font-size: 30px;
        padding: 20px;
    }
    .images{
        margin: 10px;
    }
    .images img{
        width:70px;
        height:70px;
    }
}
